<div class="footer">
  <section class="about">
    <h2>About</h2>
    <p>This application is made using <strong>Angular v8</strong>. App also uses material
      design components from <strong>Angular Material v8</strong> library. <strong>JSON Server</strong>
      is used to fake REST API.</p>
    <p>This application allows airline staff and admin to securely login and manage airline services.
      Staff can check-in for passengers and manage in-flight itinerary services like choosing meals,
      extra luggage and adding in-flight shop items that will be billed to the customer. Admin can manage the
      flight ancillaries including adding/ removing shop items, min/max luggage weight restrictions, in flight
      menu items and also passenger data, including adding new passengers.
  </section>
  <section class="other">
    <h2>Other</h2>

  </section>
</div>
