<div class="footer">
  <section class="footer-col-1">
    <h2>About</h2>
    <p>This application is made using <strong>Angular v8</strong>. App also uses material
      design components from <strong>Angular Material v8</strong> library. <strong>JSON Server</strong>
      is used to fake REST API.</p>
    <p>This application allows airline staff and admin to securely login and manage airline services.
      Staff can check-in for passengers and manage in-flight itinerary services like choosing meals,
      extra luggage and adding in-flight shop items that will be billed to the customer. Admin can manage the
      flight ancillaries including adding/ removing shop items, min/max luggage weight restrictions, in flight
      menu items and also passenger data, including adding new passengers.
    </p>
  </section>
  <section class="footer-col-2">
    <h2>Running the App</h2>
    <p>Before running the application run the server using command <strong>npm run server</strong>
      in the terminal. To run the application run <strong>npm start</strong> in terminal.</p>
    <h2>Credentials</h2>
    <p>To login as airline admin use username : <strong>admin</strong> and password : <strong>Admin@123</strong>.
      To login as airline staff use username : <strong>staff1</strong> and password : <strong>Password@123</strong>.</p>

  </section>
</div>
